<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="Palo, Alto, Travel, Palo-Alto, mountain, travel, statue">
    <meta name="description" content="Palo Alto">
    {% if activeTab == 1 %} <title>Palo Alto</title> {% endif %} 
    {% if activeTab == 4 %} <title>Contacts</title> {% endif %} 
    <link rel="shortcut icon" href="./images/favicon.ico" sizes="32x32"/>
    <link rel="shortcut icon" href="./images/favicon.ico" sizes="16x16"/>
    <link rel="stylesheet" href="./vendor/vendor.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700i,700" rel="stylesheet">
  </head> 
  <body>
        <header class="header">
            <div class="header__logo">
                <a href ="index.html"><img src="./images/PaloAlto.png" alt="Palo Alto"></a>
            </div>
            <nav class="nav">
                <a {% if activeTab == 1 %} class="nav__ref_color-gray" {% else %} class="nav__ref" href="index.html"{% endif %}>home</a>
                <a {% if activeTab == 2 %} {% else %} class="nav__ref" {% endif %} href="index.html">about</a>
                <a {% if activeTab == 3 %} {% else %} class="nav__ref" {% endif %}  href="index.html">archive</a>
                <a {% if activeTab == 4 %} class="nav__ref_color-gray" {% else %} class="nav__ref" href="contacts.html"{% endif %}>contact</a>
                <a class="nav__ref-src" href="index.html"></a>
            </nav>
        </header>
  
        {% block main %}
        {% endblock %}

        <footer class="footer">
            <div class="footer__internal">
                <div class="footer__logo"><a href ="index.html"><img src="./images/PaloAlto.png" alt="Palo Alto"></a></div>
                <div class="footer__nav">
                    <a {% if activeTab == 1 %} class=" nav__ref_color-gray" {% else %} class="nav__ref_style" href="index.html" {% endif %}> home</a>
                    <a {% if activeTab == 2 %} class=" nav__ref_color-gray" {% else %} class="nav__ref_style" {% endif %} href="index.html"> about</a>
                    <a {% if activeTab == 3 %} class=" nav__ref_color-gray" {% else %} class="nav__ref_style" {% endif %} href="index.html"> archive</a>
                    <a {% if activeTab == 4 %} class=" nav__ref_color-gray" {% else %} class="nav__ref_style" href="contacts.html" {% endif %}>contact</a>
                    <div class="footer__background"><a class="nav__ref-src_color-white" href="index.html"></a></div>
                </div>
                <hr class="footer__line">
                <div class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
                <hr class="footer__line_small">
                <div class="footer__text_size-14">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
                <a class="footer__text-lato-bold" href="#" target="_blank">PixelBuddha Team</a></div> 
                <div class="share-icons">
                    <a class="icons__background" href="#" target="_blank"><div class="share-icons__img_facebook"></div></a>
                    <a class="icons__background" href="#" target="_blank"><div class="share-icons__img_twitter"></div></a>
                    <a class="icons__background" href="#" target="_blank"><div class="share-icons__img_instagram "></div></a>
                    <a class="icons__background" href="#" target="_blank"><div class="share-icons__img_pinterest"></div></a>
                </div>
            </div>
        </footer> 

  </body>

</html>
