
{% extends "layout.html" %}

{% block main %}
<main class="main">
				<section class="section">
					<article class="article">
						<header>
							<h2 class="article__heading">Contact Us</h2>
						</header>
						<p class="article__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
						<div class="article__bar"></div>
						<form>
							<input type="text" name="name" class="form__input_name" placeholder="Your Name">
							<input type="text" name="email" class="form__input_email" placeholder="Email">
							<input type="text" name="subject" class="form__input_subject" placeholder="Subject">
							<textarea class="form__input_message" name="message" placeholder="Your Message"></textarea>
                            <footer class="article__footer">
							<button type="submit" class"form-submit">send message</button>
						</footer>
						</form>
						
		</article>
	</section>
</main>
{% endblock %}
