<!DOCTYPE html>
<html>
    <head>
        <title>Palo Alto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Palo Alto">
        <meta name="keywords" content="Palo Alto, Travel, Explore">

        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../styles/style.css"/>
        <link rel="stylesheet" href="../vendor/normalize.css"/>
        <link rel="shortcut icon" href="../images/favicon.ico" sizes="32x32"/>
    </head>
	<body class="body">
		<div class="page">
			<header class="header">
				<a href="index.html"><img class="header__logo" src="../images/logo.png" alt="Palo-Alto"></a>
				<nav class="header__nav">
					<ul>
						<li class="nav-item"><a href="index.html" class="nav__link-header">home</a></li>
						<li class="nav-item"><a href="#" class="nav__link-header">about</a></li>
						<li class="nav-item"><a href="#" class="nav__link-header">archive</a></li>
						<li class="nav-item"><a href="contact.html" class="nav__link-header">contact</a></li>
						<li class="nav-item"><a href="#" class="link_img"><img src="../images/Search.png" alt="Search"></a></li>
					</ul>
				</nav>
			</header>
			
			{% block main %}
    		{% endblock %}
			
		</div>
		<footer class="footer">
				<a href="index.html"><img class="footer__logo" src="../images/Palo-Alto.png" alt="Palo-Alto"></a>
				<nav class="footer__nav">
						<ul>
							<li class="nav-item"><a href="index.html" class="nav__link_footer">home</a></li>
							<li class="nav-item"><a href="#" class="nav__link_footer">about</a></li>
							<li class="nav-item"><a href="#" class="nav__link_footer">archive</a></li>
							<li class="nav-item"><a href="contact.html" class="nav__link_footer">contact</a></li>
							<li class="nav-item"><a href="#" class="link_img"><img src="../images/footerSearch.png" alt="Search"></a></li>
						</ul>
					</nav>
				<div class="footer__text_border">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
				<p class="footer__text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="#" class="footer__developers">PixelBuddha Team</a></p>
				<div class="footer__share">
						<ul>
							<li class="footer__share__item"><a href="https://www.facebook.com/" class="footer__share__item_fb"></a></li>
							<li class="footer__share__item"><a href="https://www.twitter.com/" class="footer__share__item_twitter"></a></li>
							<li class="footer__share__item"><a href="https://www.instagram.com/" class="footer__share__item_instagram"></a></li>
							<li class="footer__share__item"><a href="https://www.pinterest.com/" class="footer__share__item_pinterest"></a></li>
						</ul>
					</div>
			</footer>
	</body>
</html>