<!DOCTYPE HTML>
<html>
	<head>
		<title>index-1440</title>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/style.css">
	</head>
    
	<body>
        
        <div class = "content">
            
            <header class = content__header>
                <div class = "header__leftside">
                    <a href = "index.html"><img src="../images/logo.png" alt="logo"></a>
                </div>
                <div class = "header__menu">
                    <nav>
                        <a class = "header__menu_item header__menu_item-current" href = "index.html">home</a>
                        <a class = "header__menu_item" href ="index.html">about</a>
                        <a class = "header__menu_item" href = "index.html">archive</a>
                        <a class = "header__menu_item" href = "contacts.html">contact</a>
                        <a class = "header__menu_item" href = "index.html"><img src="../images/search-icon.png" alt="search-icon-black"></a>
                    </nav>
                </div>
            </header>
            
            <main>          
                <section class = "main__demo">
                        <div class = "i-do-button"><a href="index.html">i do travel</a></div>
                        <article class = "demo__text">
                        <h2>Sep 20</h2>
                        <h1>No difference how many peaks you reach is there was no pleasure in the climb.</h1>
                            <div class = "line"></div>
                        <p class = "default-paragraph">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                            <div class = "main__footer">
                                <div class = "read-more"><a class = "read-more" href="index.html">read more</a></div>
                                <div class = "hash-tags"><a href="index.html">#explorer</a>   <a href="index.html">#peak</a>   <a href="index.html">#yosemite</a></div>
                            </div>
                        </article>
                </section>
                
                
                        <section class = "main__demo">
                            
                        
                        <img class = "head-img" src="../images/article2-photo.jpg" alt="mountains-photo">
                        <div class = "i-do-button"><a href="index.html">i do observe</a></div>    
                        <article class = "demo__text">  
                        <h2>Sep 18</h2>
                        <h1>You know, I'd rather argue with you, then laugh with anyone else.</h1>
                            <div class = "line"></div>
                        <p class = "big-coursive-paragraph">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</p>
                        <p class = "default-paragraph">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                        <p class = "default-paragraph">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
                            <div class = "main__footer">
                                <div class = "read-more"><a class = "read-more" href="index.html">read more</a></div>
                                <div class = "hash-tags"><a href="index.html">#photo</a>   <a href="index.html">#peak</a>   <a href="index.html">#posemite</a></div>
                            </div>
                        </article>
                </section>
                
                
                    <section class = "main__demo">
                    <div class = "i-do-button"><a href="index.html">i do reflect</a></div>
                        <article class = "demo__text">
                        <h2>Sep 15</h2>
                        <h1>Democracy means simply the bludgeoning of the people by the people for the people.</h1>
                            <div class = "line"></div>
                            <img class = "article-img-left" src="../images/article3-photo.jpg" alt="sculpture">
                        <p class = "default-paragraph">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                        <p class = "default-paragraph">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a href = "index.html">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquamquis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
                        <p class = "big-coursive-paragraph quote">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
                        <p class = "default-paragraph">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.</p>
                            <div class = "main__footer">
                                <div class = "read-more"><a class = "read-more" href="index.html">read more</a></div>
                                <div class = "hash-tags"><a href="index.html">#democracy</a>   <a href="index.html">#introspection</a></div>
                            </div>
                        </article>
                </section>
                
            </main>
        </div>
        
        <footer class = "footer">
            <img class = "footer__logo" src="../images/logo.png" alt="logo">
            <nav class = "footer__menu">
                <a class = "header__menu_item footer__menu header__menu_item-current footer__menu_item" href = "index.html">home</a>
                <a class = "header__menu_item footer__menu footer__menu_item" href = "index.html">about</a>
                <a class = "header__menu_item footer__menu footer__menu_item" href = "index.html">archive</a>
                <a class = "header__menu_item footer__menu footer__menu_item" href = "contacts.html">contact</a>
                <a class = "header__menu_item footer__menu footer__menu_item footer__share" href = "index.html"><img src="../images/search-icon-white.png"></a>
            </nav>
            <div class = "footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
            <div class = "copyright">©2015 - Palo Alto. All Rights Reserved. Designed and Developed by<a class = "menu footer__menu footer__team-link" href = "index.html">PixelBuddha Team</a></div>
            <nav class = "footer__menu">
                <a class = "header__menu_item footer__share" href = "index.html"><img src="../images/fb.png" alt="facebook_icon"></a>
                <a class = "header__menu_item footer__share" href = "index.html"><img src="../images/tw.png" alt="twitter_icon"></a>
                <a class = "header__menu_item footer__share" href = "index.html"><img src="../images/inst.png" alt="instagramm_icon"></a>
                <a class = "header__menu_item footer__share" href = "index.html"><img src="../images/pinterest.png" alt="pinterest_icon"></a>
            </nav>
        </footer>
        
	</body>
</html>
