.layout {
    background-color: #f4f6f9;
    margin: 0;
    font-family: "Lato", serif;
}

.header, .main {
    width: 952px;
    margin: auto;
    margin-top: 75px;
    box-sizing: border-box;
}

.logo {
    display: inline;
}

.float-right {
    float: right;
}

@media screen and (max-width: 768px) {
    .header, .main {
        width: 728px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 480px) {
    .header, .main {
        width: 430px;
    }

    .header {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 320px) {
    .header, .main {
        width: 280px;
    }
}
