.body {
	background-color: #f7f9fc;
	color: rgba(0, 0, 0, 0.8);
	font: 700 16px / 25px Lato;
	padding: 0;
	margin: 0;
	
	
}

.page {
	width: 1148px;
	margin: auto;
	padding: 80px 98px 0 98px;
}

.header {
	width: 952px;
	margin: auto;
}

.header__logo {
	height: 33px;
	width: 157px;
	float:left;
	display: inline-block;
}

.header__nav {
	text-transform: uppercase;
	text-align: right;
}




.nav-item {
	list-style: none;
	display: inline-block;
	margin: 0 50px 0 0;
	padding: 0;	
}


.nav-item:last-child {
	margin: 0;
}



.nav__link-header {
    text-decoration: none;
	color: #333333;
}


.nav__link-header:after {
    display: block;
    content: "";
    height: 4px;
    width: 0%;
	background-color: #5c6bc0;
    transition: width .5s ease-in-out;
}
.nav__link-header:hover:after,
.nav__link-header:focus:after {
    width: 100%;
}

.nav__link-header:active {
    text-decoration: none;
	color: #5c6bc0;
}



.main {
	width: 992px;
	margin: auto;
	padding: 79px 0;
}

.section {
	display: inline-block;
}

.article {
	display: inline-block;
	background-color: #ffffff;
	margin: 0 20px 40px;
	padding: 58px 98px;
	box-sizing: border-box;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	width: 952px;
	position: relative;
}

.article__date {
	color: #bdbdbd;
	font-size: 14px;
}

.article__heading {
	font-size: 40px;
	line-height: 50px;
}

.article__tag {
  text-transform: capitalize;
  font: 18px sans-serif;
  padding: 10px 20px;
  border: none; 
  outline: none;
  color: #FFF;
  cursor: pointer;
  transition: padding 150ms linear;
  background-color: #5c6bc0;
  position: absolute;
  right: -16px;
  color: #ffffff;
	text-decoration: none;
}

.article__tag:hover {
  background: #6B78C5;
  padding: 12px 22px;
}

.article__tag:active {
	background: #525FAB;
}

.article__bar {
	background-color: rgba(0, 0, 0, 0.1);
	margin: 42px auto;
	height: 2px;
	width: 742px;
}

.article__text {
	color: rgba(0, 0, 0, 0.8);
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;
}

.article__footer {
	margin-top: 35px;
}
.article__footer-readmore {
	text-transform: uppercase;
	box-sizing: border-box;
	font-size: 21px;
	text-decoration: none;
	color: #5c6bc0;
	display: inline-block;
	text-align: center;
	padding: 10px;
	float: left;
}

.article__footer-readmore:hover {
	padding: 9px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.article__footer-readmore:active {
	border: 1px solid #5c6bc0;
}

.article__footer-hashtags {
	text-align: right;
}

.article__footer-hashtags-item {
	list-style: none;
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
}

.article__footer-hashtags-item:last-child {
	margin: 0;
}

.hashtag__link {
	text-decoration: none;
	font: 400 15px / 50px Lato;
	color: rgba(0, 0, 0, 0.3);
}

.hashtag__link:hover {
	color: #5c6bc0;
	text-decoration: underline;
}

.hashtag__link:active{
	
	text-decoration: none;
}

.article__picture-woman{
	float:left;
	margin: 0 23px 19px 0;
}

.article__text_grey {
	color: rgba(0, 0, 0, 0.4);
	font: 400 20px / 30px Lato;
	border-left: 4px solid #eeeeee;
	padding-left: 22px;
}

.article__text_cursive-grey {
	color: rgba(0, 0, 0, 0.5);
	font: italic 25px / 38px Lato;
}

.article__link {
	color: #5c6bc0;
	font: 700 17px / 30px Lato;
}
.picture{
	position: relative;
	top: -58px;
	left: -99px;
	width: 100%;
}

.footer {
	background-color: #5c6bc0;
	padding: 67px 322px;
	color: #ffffff;
}

.footer__logo {
	height: 28px;
	width: 135px;
	margin: 0 auto 64px;
}



.footer__nav {
	text-transform: uppercase;
	text-align: center;
}

.nav__link_footer {
    text-decoration: none;
	color: #ffffff;
}

.nav__link_footer_inactive {
    text-decoration: none;
	color: #ffffff;
	opacity: 0.5;
}

.nav__link_footer:after {
    display: block;
    content: "";
    height: 4px;
    width: 0%;
	background-color: #ffffff;
    transition: width .5s ease-in-out;
}
.nav__link_footer:hover:after,
.nav__link_footer:focus:after {
    width: 100%;
}

.nav__link_footer:active {
    text-decoration: none;
	color: #ffffff;
	opacity: 0.9;
}

.footer__text {
	color: rgba(255, 255, 255, 0.4);
	font: 400 13px / 23px Lato;
	text-align: center;
}

.footer__text_border {
	border-top: 3px solid rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
	border-bottom-width: 90%;
	padding: 38px;
	margin: 38px;
	color: rgba(255, 255, 255, 0.4);
	font: 400 13px / 23px Lato;
}

.footer__developers {
	text-decoration: none;
	color: #ffffff;
	font: 700 14px / 30px Lato;
}

.footer__developers:hover {
	text-decoration: underline;
}

.footer__share {
	text-align: center;
	padding: 27px 0 0;
}

.footer__share__item {
	list-style: none;
	display: inline-block;
	margin: 0 24px 0 0;
	padding: 0;	
}

.footer__share__item:last-child {
	margin: 0;
}

.footer__share__item_fb {
	background: url(../images/facebook.png);
	display: inline-block;
	width: 22px;
	height: 22px;
}

.footer__share__item_twitter {
	background: url(../images/twitter.png) no-repeat;
	width: 22px;
	height: 22px;	
	display: inline-block;
}

.footer__share__item_instagram {
	background: url(../images/instagram.png);
	width: 22px;
	height: 22px;
	display: inline-block;
}

.footer__share__item_pinterest{
	background: url(../images/pinterest.png);
	display: inline-block;
	width: 22px;
	height: 22px;
}

.form__input_name {
	background-color: rgb(247,249,252);
	height: 50px;
	width: 323px;
	padding: 0 20px;
	border-style: none;
	color: rgba(51, 51, 51, 0.3);
	font: 400 20px / 30px Lato;
}

.form__input_name:focus {
	color: rgba(0, 0, 0, 0.8);
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;
}
.form__input_email {
	background-color: rgb(247,249,252);
	border-style: none;
	height: 50px;
	width: 323px;
	padding: 0 20px;
	color: rgba(51, 51, 51, 0.3);
	font: 400 20px / 30px Lato;
	float: right;
}

.form__input_email:focus {
	color: rgba(0, 0, 0, 0.8);
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;
}

.form__input_subject {
	background-color: rgb(247,249,252);
	border-style: none;
	height: 50px;
	width: 718px;
	margin: 26px 0;
	padding: 0 20px;
	color: rgba(51, 51, 51, 0.3);
	font: 400 20px / 30px Lato;
}

.form__input_subject:focus {
	color: rgba(0, 0, 0, 0.8);
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;
}

.form__input_message {
	padding: 20px 20px 0 20px;
	background-color: rgb(247,249,252);
	border-style: none;
	height: 130px;
	width: 718px;
	color: rgba(51, 51, 51, 0.3);
	font: 400 20px / 30px Lato;
}

.form__input_message:focus {
	color: rgba(0, 0, 0, 0.8);
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;
}

.form-submit {
	text-transform: uppercase;
    outline: none;
	border: none;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 21px;
	text-decoration: none;
	color: #5c6bc0;
	display: inline-block;
	text-align: center;
	padding: 10px;
	float: left;
	font: 700 24px / 50px Lato;
}

.form-submit:hover {
	padding: 9px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-submit:active {
	border: 1px solid #5c6bc0;
}